form {
	margin: 0px 0px 0px 0px; 
}

table {
	border-collapse: collapse;
	border-color: #DDD;
	border-width: 1px;
	border-style: solid;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding-top: 0;
	margin-top: 0;
	background-color: #EEE;
}

td {
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: white;
	padding-right: 15px;
	border-color: #DDD;
}

th {
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: rgb(95, 133, 177);
	color: #FFFFFF;
	font-style: italic;
	text-align: left;
}
th a {
	color: #FFFFFF;
	background-color: transparent;
	text-decoration: underline;
	border: 0;
}
th a:hover {
	background-color: transparent;
}
td a {
	border: 0;
	color: #669933;
}

tfoot td {
    color: gray;
    background-color: #EEE;
}

h1 {
	background-color: #79B400;
	color: #FFFFFF;
	padding: 10px;
	border-bottom: 1px solid #336600;
	font-weight: normal;
	margin-top: 0;
	border-top: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 20px;
	padding-left: 20px;
}

h3 {
	font-style: italic;
	font-size: 14px;
	padding-left: 22px;
	font-weight: normal;
}

#main_content {
	padding: 2px;
	margin: 20px;	
}

#top_nav {
	background-color: #3F8800;
	padding: 5px;
	padding-left: 22px;
	color: #DDD;
	border-bottom: 1px solid #DDD;
}
#top_nav a {
	background-color: transparent;
	text-decoration: none;
	color: #DDD;
	border: 0;
	font-weight: normal;
}
#top_nav a:hover {
	text-decoration: underline;
}

#left_nav {
	padding-left: 2px;
	font-size: 12px;
	margin: 20px;	
	margin-top: 15px;
	margin-bottom: 20px;
}

a {
	color: #CC6600;
	font-weight: bold;
	background-color: #FBFADD;
	text-decoration: none;
	border-bottom: 1px solid #CDCBF3;
}
a:hover {
	background-color:#FFFF88;
}

.submit, .delete {
	color: #EEE;	
	font-size: 12px;
	border: 1px solid #DDD;
	padding-left: 2px;
	padding-right: 2px;
	text-align: left;
	width: auto;
	overflow: visible;
}

.submit {
	background-color: #79B400;
}
.delete {
	background-color: #B96675;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-top: 0;
	height: 100%;
	background-color: white;
	padding-bottom: 20px;
}

.warning {
font-weight:bold;
background-color: yellow;
}

.problem {
font-weight:bold;
background-color: red;
}

.aok {
color: #8b8;
font-weight:bold;
}
